body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/back.jpg);
}

.photo{
    width:45px;
    margin-top: -15px;
}

.elemntnav{

    letter-spacing: 1.6px;
    margin-right: 20px;
    font-size: 18px;
}

.impelemnt{
    margin-right: 100px;
    letter-spacing: 1.6px;
    font-size: 18px;

}


.page-footer{
    background-color: #222222;
    margin-top: 70px;
    color: white;
    padding: 20px;
}

p{
    color: #79787d;
    letter-spacing: 1.6px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

